<html lang="en">
<style type=text/css>
#pic{
  padding-left: 230px;
}
</style>
<body>
<img id="pic" src="/assets/sada.jpg" width:"100" height:"100";>
<div class="row hidden-md-down">
  <div class="col-lg-12">
    <div class="card card-bold card-secondary mb-0 app-box-shadow">
          <div class="card-block pb-5">
        <h1 id="title">Sada Nannu Song</h1>
        <p class="text-serif"><em>Sada Nannu Lyrics from Mahanati (2018) sung by Charulatha Mani. This song is composed by Mickey J. Meyer with lyrics penned by Sirivennala Seetharama Sastry.
              </em></p>
        <hr>
        <div class="row mb-3">
          <div class="col-md-8">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="682" height="284" src="https://www.youtube.com/embed//KZDzO36P8Wg?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <hr>
          <p class="text-serif"><em>
            Thanda ranga ranga ranga ranna<br />
    Thanda ranga ranga ranga ranna<br />
    <br />
    Sada nannu nadipe nee chelime poodari naliche<br />
    Prathi malupu ikapai swagathamai na pere piliche<br />
    <br />
    Ide korukunna ide korukunna<br />
    Ani nede telise<br />
    <br />
    Kalam narthinchaga neetho jathai<br />
    Pranam suminchada nee kosamai<br />
    Kalam narthinchaga neetho jathai<br />
    <br />
    Nadiki varadalle madiki paravallai<br />
    Beruku epudu vadilindoo<br />
    Churuku epudu perigindo<br />
    Talapu tudi jallai<br />
    Tanuvu harivillai<br />
    Vayasu epudu kadilindo<br />
    Sogasu epudu merisindoo<br />
    <br />
    Gamanincheloga gamakinche ragana<br />
    Edo veena lo na mogenaa<br />
    <br />
    Kalam narthinchaga neetho jathai<br />
    Pranam suminchada nee kosamai<br />
    Kalam narthinchaga neetho jathai
      </div>
    </div>
 </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
