<html lang="en">
<body>
<img id="pic" src="/assets/anirudh.jpg" width:"100" height:"100";>
<div class="row hidden-md-down">
  <div class="col-lg-12">
    <div class="card card-bold card-secondary mb-0 app-box-shadow">
          <div class="card-block pb-5">
        <h1 id="title">Anirudh Ravichander</h1>
        <p class="text-serif"><em>Anirudh Ravichander is an Indian film composer and singer, who primarily works in Tamil and Telugu films. At 21, he made his debut in the Tamil industry. His debut song, "Why This Kolaveri Di", composed for the film 3, went viral across the globe, etching more than 100 million views on YouTube. He then went on to compose numerous blockbuster hits and became one of the popular composers in South India since 2012. He is often labelled as a viral prodigy, as his songs going viral and counting more than a million views on digital platforms. He has won 7 South Indian International Movie Awards and a Filmfare Awards South.
          </em></p>
        <hr>
        <div class="row mb-3">
          <div class="col-md-8">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="682" height="284" src="https://www.youtube.com/embed/sDn3ZPm-kzo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
