<html lang="en">
  <!-- <head>
    <style type=text/css>

        #pic{
          padding-left: 200px;
        }
        #title{
          color: white;
        }
        .col-md-8{
          padding-left: 350px;
        }
    </style>
  </head> -->
<body>
<img id="pic" src="/assets/ar_rahman.jpg" width:"100" height:"100";>
<div class="row hidden-md-down">
  <div class="col-lg-12">
    <div class="card card-bold card-secondary mb-0 app-box-shadow">
          <div class="card-block pb-5">
        <h1 id="title">A. R. Rahman</h1>
        <p class="text-serif"><em>Allahrakka Rahman born A. S. Dileep Kumar, best known as A. R. Rahman, is an Indian composer, singer-songwriter, music producer, musician and philanthropist. A. R. Rahman's works are noted for integrating Indian classical music with electronic music, world music and traditional orchestral arrangements. Among his awards are four National Film Awards, two Academy Awards, two Grammy Awards, a BAFTA Award, a Golden Globe, fifteen Filmfare Awards and sixteen Filmfare Awards South. He has been awarded the Padma Bhushan, the third highest civilian award, in 2010 by the Government of India. In 2009, Rahman was included on the Time 100 list of the world's most influential people. The UK-based world-music magazine Songlines named him one of "Tomorrow's World Music Icons" in August 2011. South Indian fans of Rahman refer him with the nickname of "The Mozart of Madras", and "Isai Puyal" (English: the Musical Storm).
         </em></p>
        <hr>
        <div class="row mb-3">
          <div class="col-md-8">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="682" height="284" src="https://www.youtube.com/embed/6CG4bx1sIiY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
