<!DOCTYPE html>
<html lang="en">
<style type=text/css>

  .entry-title{
        color: white;
      }
  .song_image{
    padding-left: 500px;
    width: 200;
    height: 200;
  }
  .title{
    margin-left: 400px;
  }

</style>
</head>
<body>
  <div class="title">
  <h3 class="block-title mb-4">
    <span class="text-ribbon text-ribbon-primary">
      <span>Stream Your Favorite Station</span>
    </span>
  </h3>
  </div>
<img class="song_image" src="http://radiosindia.com/images/teluguone.jpg">
<div class="row hidden-md-down">
<div class="col-lg-12">
<div class="card card-bold card-secondary mb-0 app-box-shadow">
    <div class="card-block pb-5">
          <p class="text-serif"><em>
            <h1 class="entry-title">Telugu One</h1>
            <hr>
            <p>Telugu One is a Telugu radio having broadcasting from Andhra.Listen to Andhra Mirchi Radio Telugu FM to listen to your favorite Telugu songs and top Tollywood songs.This Radio  contains a huge variety of programs telcasing wonderful Hindi songs.Tune to Telugu One Radio listen now.</p>
<audio controls src="http://173.203.133.187:9700/;"></audio>
<hr>
</div>
</div>
</div>
</div>
<img class="song_image" src="http://radiosindia.com/images/telugunriradio.jpg">
<div class="row hidden-md-down">
<div class="col-lg-12">
<div class="card card-bold card-secondary mb-0 app-box-shadow">
    <div class="card-block pb-5">
          <p class="text-serif"><em>
            <h1 class="entry-title">NRI Radio Telugu</h1>
            <hr>
            <p>Telugu NRI Radio is a Telugu radio having broadcasting from India.Listen to Telugu NRI Radio Telugu FM to listen to your favorite Telugu songs and top Tollywood songs.Telugu NRI Radio contains a huge variety of programs telcasing wonderful Hindi songs.Tune to Telugu NRI Radio listen now.</p>
<audio controls src="http://50.7.99.163:11091/;"></audio>
<hr>
</div>
</div>
</div>
</div>
<img class="song_image" src="http://radiosindia.com/images/radio9telugu.jpg">
<div class="row hidden-md-down">
<div class="col-lg-12">
<div class="card card-bold card-secondary mb-0 app-box-shadow">
    <div class="card-block pb-5">
          <p class="text-serif"><em>
            <h1 class="entry-title"> Radio 9 Telugu</h1>
            <hr>
            <p class="text-serif"><em>Radio 9 Telugu is a Telugu radio having broadcasting from India.Listen to Radio 9 u Telugu FM to listen to your favorite Telugu songs and top Tollywood songs.Radio 9 Telugu contains a huge variety of programs telcasing wonderful Hindi songs.Tune to Radio 9 Telugu listen now.</em></p>
            <audio controls src="http://174.37.252.208:8530/;stream.mp3;"></audio>
            <hr>
</div>
</div>
</div>
</div>
<img class="song_image" src="http://radiosindia.com/images/spice-fm.jpg">
<div class="row hidden-md-down">
<div class="col-lg-12">
<div class="card card-bold card-secondary mb-0 app-box-shadow">
    <div class="card-block pb-5">
          <p class="text-serif"><em>
            <h1 class="entry-title">Spice FM Radio </h1>
            <hr>
            <p>Spice FM Radio is a Telugu radio having broadcasting from Andrapradesh.Listen to Spice FM Radio Telugu FM to listen to your favorite Telugu songs and top Tollywood songs.Spice FM Radio contains a huge variety of programs telcasing wonderful Hindi songs.Tune to Spice FM Radio listen now.</p>
            <audio controls src="http://proxima.shoutca.st:8266/stream"></audio>
            <hr>
</div>
</div>
</div>
</div>
</body>
</html>
