<html lang="en">
<body>
<img id="pic" src="/assets/malli.jpg" width:"100" height:"100";>
<div class="row hidden-md-down">
  <div class="col-lg-12">
    <div class="card card-bold card-secondary mb-0 app-box-shadow">
          <div class="card-block pb-5">
        <h1 id="title">Malli Raava Title Song</h1>
        <p class="text-serif"><em>Malli Raava Title Song is a track from the Malli Raava. Starring Sumanth, Akanksha Singh in lead roles. Composed by Shravan Bharadwaj, sung by Shravan Bharadwaj and lyrics written by Krishnakanth. The movie directed by Gowtam Tinnanuri and produced by Rahul Yadav Nakka.
        </em></p>
        <hr>
        <div class="row mb-3">
          <div class="col-md-8">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="682" height="284" src="https://www.youtube.com/embed/i61wEtFFuc0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <hr>
          <p class="text-serif"><em>
          <p>Ye kaalam Ye dooram<br>
  daache unchena ninne ninne<br>
  Ye gaayam Ye mounam<br>
  Maarche aapena nanne nanne</p>
  <p>Malli raavaa ee chotuki<br>
  marichipoleka mummaatiki<br>
  Malli raava levannavi<br>
  Raava chenthe vadili chinthe</p>
  <p>Tarimestunna vadilestunna<br>
  Ye kopale lo kaalchina koolchina<br>
  Ee bandhalalo ea mandunnado<br>
  Ee preme ila<br>
  Oh egasegasena</p>
  <p>Malli raava ee chotuki<br>
  marichipoleka mummaatiki<br>
  Malli raava levannavi<br>
  Raava chenthe vadili chinthe</p>em></p>
      </div>
    </div>
 </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
