<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>We Love Music</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <link href="http://fonts.googleapis.com/css?family=Lora:400,400italic|Roboto:100,300,400,700" rel="stylesheet">
      <link href="assets/toolkit-bold.css" rel="stylesheet">
      <link href="assets/application-bold.css" rel="stylesheet">

  <style type=text/css>

        body {
          width: 1px;
          min-width: 100%;
          *width: 100%;
        }
        #stage {
          height: 1px;
          overflow: auto;
          min-height: 100vh;
        }

        .navbar-brand{
          font-family:fantasy;
          font-size: 200%;
          font-weight: 900;

        }
        #para{
          background-color: yellow;
          font-size: 300%;
        }

        #pic{
          padding-left: 350px;
        }

        #title{
          color: white;
        }
        .col-md-8{
          padding-left: 350px;
        }

    </style>
  </head>


<body>

<img id="pic" src="/assets/nekalla.jpg" width:"100" height:"100";>
<div class="row hidden-md-down">
  <div class="col-lg-12">
    <div class="card card-bold card-secondary mb-0 app-box-shadow">
          <div class="card-block pb-5">
        <h1 id="title">Nee Kallalona From Jai Lava Kusa</h1>
        <p class="text-serif"><em>Starring Jr. Ntr, Rashi Khanna, Nivetha Thomas in lead Roles. The song is sung by Hema Chandra. Lyrics are written by Chandrabose. Music is composed by Devi Sri Prasad. The movie is directed by KS Ravindra(Bobby).
          </em></p>
        <hr>
        <div class="row mb-3">
          <div class="col-md-8">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="682" height="284" src="https://www.youtube.com/embed/BrrWNfjgHGs?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <hr>
        <p class="text-serif"><em>
          <p>Nee kallalona kaatuka<br>
O nalla mabbu kaadhaa<br>
Nee navvuloni veduka<br>
O merupu velugu kaadhaa</p>

<p>Nee momu ninginundhi<br>
Oo prema vaana raaga<br>
Aa vaana jallulona<br>
Nenu jallumantu thadisipoga</p>

<p>Theli theli theli<br>
Theli theli theli<br>
Theli theli theli<br>
Thelipoyaaaa</p>

<p>O prema vaanalona munigi<br>
Paiki paiki thelipoyaaa</p>

<p>Naa gundeloni korika<br>
Oo gaalipatam kaaga<br>
Naa chentha nuvu cherika<br>
Oo dhaaramalle laaga</p>

<p>Nee neeli kurula nundi<br>
Oo poola gaali raaga<br>
Naa prema anna gaali patam<br>
Chandra-mandalanni cheragaaaa</p>

<p>Theli theli theli (x3)<br>
Thelipoyaaaa</p>

<p>Asala chanda maama nuvve antu<br>
Nela meedha vaalipoyaaa</p>

<p>Asura asura asura asura<br>
Raavanasuraa</p>

<p>Asura asura asura asura<br>
Raavanasuraa</p>

<p>Dhaga dhaga dhaga dhaga<br>
Nee sogasuloni dhagaa<br>
Bhaga bhaga bhaga bhaga<br>
Penchindi paduchu paga</p>

<p>Dhaga dhaga dhaga dhaga<br>
Nee sogasuloni dhaga<br>
Bhaga bhaga bhagaa bhaga<br>
Penchindi paduchu paga</p>

<p>Nee pedhavilona yerupu<br>
Naa pogaruki gaayam chesthe</p>

<p>Asura asura asura asura<br>
Raavanasudaaa</p>

<p>Meda vompuloni nunupu<br>
Gaayaniki kaaram poosthe</p>

<p>Asura asura asura asura<br>
Raavanasudaaa</p>

<p>Dharunanga daggarai<br>
Udhruthanga uppenai<br>
Andhamaina aushadhaanni thaagana</p>

<p>Dhaga dhaga dhaga dhaga<br>
Nee sogasulona dhaga<br>
Bhaga bhaga bhagaa bhaga<br>
Penchindi paduchu paga</p>

<p>Dhaga dhaga dhaga dhaga<br>
Nee sogasulona dhaga<br>
Bhaga bhaga bhagaa bhaga<br>
Penchindi paduchu paga</p>

<p>Asura asura asura asura<br>
Raavanasuraa</p>

<p>Asura asura asura asura<br>
Raavanasuraa</p>em></p>
      </div>
    </div>

 </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>
