<html lang="en">
  <head>
    <style type=text/css>
    #pic{
      padding-left: 400px;
    }
    #title{
      color: white;
    }
    .col-md-8{
      padding-left: 350px;
    }
    </style>
  </head>
<body>
<img id="pic" src="/assets/oosupodu.jpg" width:"100" height:"100";>
<div class="row hidden-md-down">
  <div class="col-lg-12">
    <div class="card card-bold card-secondary mb-0 app-box-shadow">
          <div class="card-block pb-5">
        <h1 id="title">Oosupodhu From Fida</h1>
        <p class="text-serif"><em>Starring Varun Tej, Sai Pallavi in lead Roles. The song is sung by Hemachandra. Lyrics are written by Chaithanya Pingali. Music is composed by Shakthikanth Karthick. The movie is directed by Sekhar Kammula.
                  </em></p>
        <hr>
        <div class="row mb-3">
          <div class="col-md-8">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="682" height="284" src="https://www.youtube.com/embed/e4N9al7vhVQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <hr>
        <p class="text-serif"><em>
          <p>Oosupodhu oorukodhu<br>
  Undaneedhu vellaneedhu<br>
  Vinthakhaidhu naakila emito<br>
  Soyi ledhu solaneedhu<br>
  Veedipodhu cheri raadhu<br>
  Chintha podhu naakila emito</p>

  <p>Oosupodhu oorukodhu<br>
  Undaneedhu vellaneedhu<br>
  Vinthakhaidhu naakila emito<br>
  Soyi ledhu solaneedhu<br>
  Veedipodhu cheri raadhu<br>
  Chintha podhu naakila emito</p>

  <p>Naanundi naa praname<br>
  Ila jaruthundhe<br>
  Thappena ee yathana<br>
  Nee vaipu ravalane<br>
  Ala urukuthondhe<br>
  Aagedhena are ee alochana<br>
  Nee thalapule vadhalave<br>
  Nannu nidhuralonu<br>
  Aa marupuna theliyaka<br>
  Nanne vethikinaanu</p>

  <p>Valla kadhu paalu podhu<br>
  Aaganeedhu saaganeedhu<br>
  Venta raadhu naakila emito<br>
  Vela kaadhu veelu ledhu<br>
  Ooha kaadhu Orchu kodhu<br>
  Chentha ledhu naakila emito<br>
  Naanundi naa praname<br>
  Ilaa jaruthundhi<br>
  Thappena ee yaathana<br>
  Nee vaipu raavalane<br>
  Alla urukuthondhe<br>
  Aagedhena are ee alochana</p>

  <p>Nee thalapule vadhalave<br>
  Nannu nidhuralonu<br>
  Aa marupuna theliyaka<br>
  Nanne vethikinaanu<br>
  Naa gundelo thondhare<br>
  Nanne niluvaneedhe<br>
  Yedhonaadu neetho cheppeyana</p>

  <p>Nee pilipule kalaluga<br>
  Nannu tharumuthaaye<br>
  Aa kalavaram melakuvai<br>
  Nanne allukundhe<br>
  Naa gundelo thondhare<br>
  Nanne niluvaneedhe<br>
  Yedhonaadu neetho cheppeyana</p>

  <p>Nee thalapule vadhalave<br>
  Nee thalapule vadhalave</p>

  <p>Oosupodhu oorukodhu<br>
  Undaneedhu vellaneedhu<br>
  Vinthakhaidhu naakila emito<br>
  </p>
  </em></p>
      </div>
    </div>
   </div>
  </div>
 </body>
</html>
