<!DOCTYPE html>
<html lang="en">
  <!-- <head>
    <style type=text/css>
    #pic{
      padding-left: 400px;
    }
    #title{
      color: white;
    }
    .col-md-8{
      padding-left: 350px;
    }
    </style>
  </head> -->
<body>
<img id="pic" src="/assets/breakup.jpg" width:"100" height:"100";>
<div class="row hidden-md-down">
  <div class="col-lg-12">
    <div class="card card-bold card-secondary mb-0 app-box-shadow">
      <div class="card-block pb-5">
        <p><h1 id="title">Arjun Reddy - The Breakup Song - Lyrics</h1>

          <div class="row mb-3">
            <div class="col-md-8">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="682" height="284" src="https://www.youtube.com/embed/dAuHgdrPy2c?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <hr>
        <p><p>TelisenE naa nuvvE.. naa nuvvu kaadanee<br />
telisenE nee nenE.. nee nEnu kaananee<br />
naalO sagam.. ika lEdoo anee<br />
aa ninnalE.. nanu choosi navvelE<br />
marunaaDu annadE.. ika unDabOdanee.. annadeekshaNam<br />
naa praaNam nuvvE.. naa gunDE nuvvE<br />
gunDellO manDE.. nippai chEraavE</p>

<p>oohalake.. teliyanide<br />
jarigenulE.. ipuDelaa<br />
nuvvoo nEnoo.. anu maaTE ikapai<br />
unDadulE.. EnTilaa<br />
tappu Edo.. jarigenE.. reppa paaTulO<br />
cheppalEni vEdanagaa..<br />
uppenalle tarumutOnde..<br />
nuvvu lEnidE.. mari nEnu lEnanee.. annadeekshaNam<br />
naa antam nuvvE.. naa pantam nuvvE<br />
naa pantam entaa.. ee viSwamantaa<br />
naa antam nuvvE.. naa pantam nuvvE<br />
naa pantam entaa.. ee viSwamantaa</p>

<p>this is what you wanna see me, why?<br />
lady, you know how it feels me.. aah<br />
day and night, all the time, everyday.. killing myself.. my lady.. you know?<br />
i lost my worlds.. some where.. you know.. where is it.. I'm dying all the day<br />
loosing my patience.. now<br />
can any one just tell me who am i.. or better kill me<br />
i don't need the shit</p>

<p>telisenE naa nuvvE.. naa nuvvu kaadanee<br />
telisenE nee nenE.. nee nEnu kaananee</p></em></p>
      </div>
    </div>
   </div>
  </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
 </body>
</html>
