<!DOCTYPE html>
<html lang="en">
  <head>
    <style type=text/css>
/*
    .col-md-8{
      margin-left:150px;
    }
    .col-sm-4{
      color: orange;
      margin-left:150px;
      font-size: 200%;
    }
    .title{
      margin-left: 500px;
    }
    .song_images{
      margin-left: 500px;
    } */
</style>
  </head>
  <body>
    <div class="title">
    <h3 class="block-title mb-4">
      <span class="text-ribbon text-ribbon-primary">
        <span>Stream Your Favorite Songs</span>
      </span>
    </h3>
  </div>
  <img class="song_images" src="/assets/top10.jpg" width:"100" height:"100";>
    <div class="row mb-3">
     <div class="col-sm-4"> Lover Also Fighter Also</div>
      <div class="col-md-8">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="600" height="338" src="https://www.youtube.com/embed/ApLzE-TLBYU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row mb-3">
     <div class="col-sm-4">Dhari Chudu</div>
      <div class="col-md-8">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="600" height="338" src="https://www.youtube.com/embed/neuBFUOnBJ0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row mb-3">
       <div class="col-sm-4">Yentha Sakkagunnave</div>
        <div class="col-md-8">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="600" height="338" src="https://www.youtube.com/embed/-xgy9rTzUnw?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row mb-3">
     <div class="col-sm-4"> Ninnala</div>
      <div class="col-md-8">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="600" height="338" src="https://www.youtube.com/embed/bcL53pgFzSc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row mb-3">
     <div class="col-sm-4">Chusi Chudangane</div>
      <div class="col-md-8">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="600" height="338" src="https://www.youtube.com/embed/_JVghQCWnRI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row mb-3">
     <div class="col-sm-4">Chamak Chamak</div>
      <div class="col-md-8">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="600" height="338" src="https://www.youtube.com/embed/Fp1_dxjyXwo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row mb-3">
     <div class="col-sm-4">Ga Gha Megha</div>
      <div class="col-md-8">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="600" height="338" src="https://www.youtube.com/embed/4gDYt1XPkkE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row mb-3">
     <div class="col-sm-4">Mandaara Mandaara</div>
      <div class="col-md-8">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="600" height="338" src="https://www.youtube.com/embed/fdgAMPzwqnU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row mb-3">
     <div class="col-sm-4">Dum Dare</div>
      <div class="col-md-8">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="600" height="338" src="https://www.youtube.com/embed/S9uw4fR9ZCI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
        <div class="row mb-3">
           <div class="col-sm-4"> Gaali Vaaluga</div>
            <div class="col-md-8">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="600" height="338" src="https://www.youtube.com/embed/h1bV5A0Mqq4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
  </html>
