<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>We Love Music</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <link href="http://fonts.googleapis.com/css?family=Lora:400,400italic|Roboto:100,300,400,700" rel="stylesheet">
      <link href="assets/toolkit-bold.css" rel="stylesheet">
      <link href="assets/application-bold.css" rel="stylesheet">

  <style type=text/css>

        body {
          width: 1px;
          min-width: 100%;
          *width: 100%;
        }
        #stage {
          height: 1px;
          overflow: auto;
          min-height: 100vh;
        }

        .navbar-brand{
          font-family:fantasy;
          font-size: 200%;
          font-weight: 900;

        }
        #para{
          background-color: yellow;
          font-size: 300%;
        }

        #yenthara{
          padding-left: 350px;
        }

        #title{
          color: white;
        }
        .col-md-8{
          padding-left: 350px;
        }

    </style>
  </head>


<body>

<img id="yenthara" src="/assets/yenthara.jpg" width:"100" height:"100"
<div class="row hidden-md-down">
  <div class="col-lg-12">
    <div class="card card-bold card-secondary mb-0 app-box-shadow">
      <div class="card-block pb-5">
        <p><h1 id="title">Yenthara Lokapu Sundarive from 2.0</h1>

          <div class="row mb-3">
            <div class="col-md-8">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="682" height="284" src="https://www.youtube.com/embed/SGGzzXZhrAs?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <hr>
          <h4> Lyrics:</h4></br>

          <p>Naa Priyamo Priyamo Batteryive<br />
          Vidichi Vellipodhey<br />
          naa Priyamo Priyamo Batteryive<br />
          Asalem Taragodhe</p>

          <p>Yenthara Lokapu Sundarive<br />
          Anthala Kavithala sandhurvey<br />
          Engine ni alle chandhurive<br />
          hey.naa wi-fi wife ey neeve</p>

          <p>Ratham leni chempalaki muddhe pettestha<br />
          Poddu Poodu jaada Roja Poove choopista<br />
          Chitti chese lalalu ninnu meppisthayanta<br />
          Hey..Nee basthi conductor ne</p>

          <p>Naa Priyamo Priyamo Batteryive<br />
          Vidichi Vellipodhey<br />
          naa Priyamo Priyamo Batteryive<br />
          Asalem Taragodhe</p>

          <p>Naa Priyamo Priyamo Batteryive<br />
          Vidichi Vellipodhey<br />
          naa Priyamo Priyamo Batteryive<br />
          Asalem Taragodhe</p>

          <p>Yenthara Lokapu Sundarive<br />
          Anthala Kavithala sandhurvey<br />
          Engine ni alle chandhurive<br />
          hey&#8230;.naa wi-fi wife ey neeve</p>

          <p>naa sensor ku baavam nuvvele<br />
          naa cable lallo jeevam nuvvene<br />
          nee cello challavu mayikkanne<br />
          nannu nee oohallo nimpavu vennellane</p>

          <p>naa class uu nuvvey<br />
          naa ward uu nuvvey</p>

          <p>okka roja puvu ni ivvava</p>

          <p>Hahahahhahaa</p>

          <p>karigey Karigery<br />
          inapa puvaa<br />
          nede kalisi okatayiii<br />
          undhaaamaaaa</p>

          <p>Aaasa Naa aasa<br />
          Neeve ikaa<br />
          ne egaa nene ega<br />
          nuve ikaa</p>

          <p>Love your from<br />
          zero to infinity</p>

          <p>Naa Priyamo Priyamo Batteryive<br />
          Vidichi Vellipodhey<br />
          naa Priyamo Priyamo Batteryive<br />
          Asalem Taragodhe</p>

          <p>Naa Priyamo Priyamo Batteryive<br />
          Vidichi Vellipodhey<br />
          naa Priyamo Priyamo Batteryive<br />
          Asalem Taragodhe</p>

          <p>Yenthara Lokapu Sundarive<br />
          Anthala Kavithala sandhurvey<br />
          Engine ni alle chandhurive<br />
          hey&#8230;naa wi-fi wife ey neeve</p>

          <p>Ratham leni chempalaki muddhe pettestha<br />
          Poddu Poodu jaada Roja Poove choopista<br />
          Chitti chese lalalu ninnu meppisthayanta<br />
          Hey..Nee basthi conductor ne</p>

          <p>Naa Priyamo Priyamo Batteryive<br />
          Vidichi Vellipodhey<br />
          naa Priyamo Priyamo Batteryive<br />
          Asalem Taragodhe</p>

          <p>Naa Priyamo Priyamo Batteryive<br />
          Vidichi Vellipodhey<br />
          naa Priyamo Priyamo Batteryive<br />
          Asalem Taragodhe</p></em></p>
      </div>
    </div>

 </div>
</div>





<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>
