<img id="pic" src="/assets/chal.jpg" width:"100" height:"100";>
<div class="row hidden-md-down">
  <div class="col-lg-12">
    <div class="card card-bold card-secondary mb-0 app-box-shadow">
          <div class="card-block pb-5">
        <h1 id="title">Chal Mohan Ranga</h1>
        <p class="text-serif"><em>Chal Mohan Ranga Audio Songs Jukebox on Mango Music. Pawan Kalyan Creative Works and Sreshth Movies Present #ChalMohanRanga 2018 Telugu Movie ft. Nithiin / Nitin & Megha Akash. Produced by Pawan Kalyan & Sudhacar Reddy. Story written By Trivikram. Music by Thaman S.
        </em></p>
        <hr>
        <div class="row mb-3">
          <div class="col-md-8">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="682" height="284" src="https://www.youtube.com/embed/d_M1b3pv8HE&t?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
