<img id="pic" src="/assets/tholi.jpg" width:"100" height:"100";>
<div class="row hidden-md-down">
  <div class="col-lg-12">
    <div class="card card-bold card-secondary mb-0 app-box-shadow">
          <div class="card-block pb-5">
        <h1 id="title">Tholi prema</h1>
        <p class="text-serif"><em>Listen & Enjoy  Tholi prema Telugu Movie FullSongs Jukebox. Starring Varun Tej, Raashi Khanna. Music by Thaman S. Directed by Venky Atluri & produced by BVSN Prasad under the Banner of Sri Venkateswara Cine Chitra .
  </em></p>
        <hr>
        <div class="row mb-3">
          <div class="col-md-8">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="682" height="284" src="https://www.youtube.com/embed/Wn96FZtQC-w?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
