
    .col-md-8{
      margin-left:150px;
    }
    .col-sm-4{
      color: orange;
      margin-left:150px;
      font-size: 200%;
    }
    .title{
      margin-left: 500px;
    }
    .song_images{
      margin-left: 500px;
    }
