body {
  width: 1px;
  min-width: 100%;
  *width: 100%;
}
#stage {
  height: 1px;
  overflow: auto;
  min-height: 100vh;
}
#signup{
  padding-right: 100px;
}
#fm{
  padding-left: 250px;
}

.navbar-brand{
  font-family:fantasy;
  font-size: 200%;
  font-weight: 900;
}

.card-img-top{
  height: 125px;
  width: 155px;
}
